<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>tor.plist</string>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>ProgramArguments</key>
    <array>
        <string>EPREFIX/usr/bin/tor</string>
    </array>
    <key>WorkingDirectory</key>
    <string>EPREFIX</string>
    <key>StandardErrorPath</key>
    <string>EPREFIX/var/log/tor.log</string>
    <key>StandardOutPath</key>
    <string>EPREFIX/var/log/tor.log</string>
  </dict>
</plist>
